{% extends 'blog/base.html' %}

{% load static %}

{% block 'content' %}
<!-- heading -->

<div class="container-fluid">

  <div class="row justify-content-center">

    <div class="col-lg-5 col-md-5 col-sm-12 text-center box">

      <small class=" ml-2"> {{heading}} </small>
      <h4 class="box ">Ape on the Moon was founded by illustrator Alex Mathers <span style="display: block;">and Phillip Dennis, who’s work you can find here.</span> </h4>

    </div>
    
  
    <div class="col-lg-5 col-md-5  col-sm-12 p-5 ml-auto">

      <img src="{% static 'images/langing.svg' %}">

    </div>
  
  </div>

  


</div>




<h3 class="text-center my-5 ">Awesome Topics</h3>

<!-- heading end -->

<div class="container-fluid">

  <div class="row justify-content-center">


    {%for service in services %}

    <div class=" col-lg-4 col-md-4 col-sm-12">
      <div class="card bg-dark mt-1">
        <div class="card-body text-center text-light">
          <p><i class=" fa fa-ravelry fa-2x"></i></p>
          <p class="mx-5 mb-5 mt-2">{{service}}</p>
        </div>
      </div>
    </div>

    {%endfor%}

  </div>

  <h3 class="text-center my-5 ">Recent Posts</h3>

  <div class="row">

    {% include 'blog/simple-posts.html' %}

  </div>


</div>


{% endblock%}