{% load widget_tweaks %}


<div class="card-body">

    <form action=" {% url 'login' %}" method="POST">
        {% csrf_token %} 
    
      
        {% for field in form.visible_fields %}
        
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        {% endfor %}
    
        <button type="submit">Button</button>
    </form> 
    
</div>